<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">PERSONAL</li>
                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="{{ menu.icono }}"></i>
                        <span class="hide-menu">{{ menu.titulo }} <span class="label label-rouded label-themecolor pull-right">{{ menu.submenu.length }}</span></span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a [routerLink]="[ submenu.url ]" routerLinkActive="active"><i class="{{ submenu.icono }}"></i> {{ submenu.titulo }} </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>